name: OWASP ZAP Güvenlik Taraması

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
      - name: OWASP ZAP taraması
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: 'https://egundem.com/gundem'
          fail_action: false
          docker_name: 'ghcr.io/zaproxy/zaproxy'
